html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    text-align: center;
}

body {
    background-image: url(https://www.astrology.com/images-US/games/game-fortune-cookie-1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.next {
    font-size: 40px;
    position: relative;
    top: 500px;
    right: 15px;
    padding: 10px;
    margin: 0;
    outline: 10px solid;
}

.next:hover {
    transform: scale(1.1);
    color: red;
}

.next.effect {
    transform: scale(1.0);
}

.previous {
    font-size: 40px;
    position: relative;
    top: 500px;
    left: 15px;
    padding: 10px;
    margin: 0;
    outline: 10px solid;
}

.previous:hover {
    transform: scale(1.1);
    color: red;
}

.random {
    font-size: 40px;
    position: relative;
    top: 500px;
    left: 45px;
    padding: 10px;
    margin: 0;
    outline: 10px solid;
}

.random:hover {
    transform: scale(1.1);
    color: red;
}

.output {
    width: 100%;
    height: 10%;
    font-size: 30px;
    position: relative;
    top: 80px;
    padding: 0;
    margin: 0;
}